@import "compass/css3";

$icons: sprite-map("main-icons/*.png", $spacing: 5px);
$icon: sprite-map("icons/*.png", $spacing: 5px);

[class*="icon-"]{
	display: inline-block;
}


// Define blok width and height 
//such as image's  width and height
@mixin image-size($path){
	width: image-width($path);
	height: image-height($path);
}

// Sprite mixin
@mixin sprite($map, $sprite, $width-height:1){
	background: sprite($map,  $sprite) no-repeat;

	@if $width-height == 1
	{
		@include image-size(sprite-file($map, $sprite));
	}
	@else{}
}

// Custom Icons

.icon-logo {
	@include sprite($icons, icon-logo);
}

.icon-top {
	@include sprite($icons, icon-top);
}

.icon-top1 {
	@include sprite($icons, icon-top1);
}

.icon-top2 {
	@include sprite($icons, icon-top2);
}

.icon-top3 {
	@include sprite($icons, icon-top3);
}

.icon-logo2 {
	@include sprite($icons, icon-logo2);
}

.icon-skype {
	@include sprite($icons, icon-skype);
}

.icon-marker-blue {
	@include sprite($icons, icon-marker-blue);
}

.icon-marker-phone {
	@include sprite($icons, icon-marker-phone);
}

.icon-mail-blue {
	@include sprite($icons, icon-mail-blue);
}

.icon-logo3 {
	@include sprite($icons, icon-logo3);
}

.icon-book {
	@include sprite($icons, icon-book);
}

.icon-speach {
	@include sprite($icons, icon-speach);
}

.icon-home {
	@include sprite($icons, icon-home);
}

.icon-badge {
	@include sprite($icons, icon-badge);
}

.icon-top {
	@include sprite($icons, icon-top);
}

.icon-plus-blue {
	@include sprite($icons, icon-plus-blue);
}

.icon-proj {
	@include sprite($icons, icon-proj);
}

.icon-kalendar {
	@include sprite($icons, icon-kalendar);
}

.icon-klient{
	@include sprite($icons, icon-klient);
}

.icon-like{
	@include sprite($icons, icon-like);
}

.icon-emotion{
	@include sprite($icons, icon-emotion);
}

.icon-directions{
	@include sprite($icons, icon-directions);
}

.icon-pie-chart{
	@include sprite($icons, icon-pie-chart);
}

.icon-bar-chart{
	@include sprite($icons, icon-bar-chart);
}

.icon-edit{
	@include sprite($icons, icon-edit);
}

.icon-history{
	@include sprite($icons, icon-history);
}

.icon-close-popup {
	@include sprite($icons, icon-close-popup);	
}

.icon-orange-clock {
	@include sprite($icons, icon-orange-clock);	
}

.icon-orange-mail {
	@include sprite($icons, icon-orange-mail);
}

// Other sprite
// ----------------------------------------------

.icon-map {
	@include sprite($icon, icon-map);
}

.icon-address1 {
	@include sprite($icon, icon-address1);
}

.icon-address2 {
	@include sprite($icon, icon-address2);
}

.icon-address3 {
	@include sprite($icon, icon-address3);
}

.icon-address4 {
	@include sprite($icon, icon-address4);
}

.icon-address5 {
	@include sprite($icon, icon-address5);
}

.icon-address6 {
	@include sprite($icon, icon-address6);
}

.icon-download {
	@include sprite($icon, icon-download);
	margin-right: 8px;
	position: relative;
	top: 5px;
}

.icon-by-mail {
	@include sprite($icon, icon-by-mail);
	margin-right: 8px;
	position: relative;
	top: 6px;
}

.icon-print {
	@include sprite($icon, icon-print);
	margin-right: 8px;
	position: relative;
	top: 7px;
}

.icon-proj2 {
	@include sprite($icon, icon-proj2);
}

.icon-check {
	@include sprite($icon, icon-check);
}


.icon-reload {
	@include sprite($icon, icon-reload);
}

.icon-future {
	@include sprite($icon, icon-future);
}

.icon-kalendar-blue {
	@include sprite($icon, icon-kalendar-blue);
}

.icon-close {
	@include sprite($icon, icon-close);
}

.icon-com {
	@include sprite($icon, icon-com);
}

.icon-rezult {
	@include sprite($icon, icon-rezult);
}

.icon-monitor {
	@include sprite($icon, icon-monitor);
}

.icon-dream {
	@include sprite($icon, icon-dream);
}

.icon-graph {
	@include sprite($icon, icon-graph);
}

.icon-edit-grey {
	@include sprite($icon, icon-edit-grey);
}

.icon-busket {
	@include sprite($icon, icon-busket);
}

.icon-busket-grey {
	@include sprite($icon, icon-busket-grey);
}

.icon-star {
	@include sprite($icon, icon-star);
}

.icon-down {
	@include sprite($icon, icon-down);
}

.icon-phone-white {
	@include sprite($icon, icon-phone-white);	
}

.icon-edit-white {
	@include sprite($icon, icon-edit-white);
}

.icon-building {
	@include sprite($icon, icon-building);
}

.icon-settings-grey {
	@include sprite($icon, icon-settings-grey);
}

.icon-file-blue {
	@include sprite($icon, icon-file-blue);	
}

.icon-traiding {
	@include sprite($icon, icon-traiding);	
}

.icon-solution {
	@include sprite($icon, icon-solution);	
}

.icon-dolar {
	@include sprite($icon, icon-dolar);		
}

.icon-consol {
	@include sprite($icon, icon-consol);	
}

.icon-manage {
	@include sprite($icon, icon-manage);	
}

.icon-roz {
	@include sprite($icon, icon-roz);	
}

.icon-manage2 {
	@include sprite($icon, icon-manage2);	
}

.icon-docoborot {
	@include sprite($icon, icon-docoborot);	
}

.icon-salary {
	@include sprite($icon, icon-salary);	
}

.icon-manage3 {
	@include sprite($icon, icon-manage3);	
}

.icon-avtomat {
	@include sprite($icon, icon-avtomat);	
}

.icon-holding {
	@include sprite($icon, icon-holding);	
}

.icon-factory {
	@include sprite($icon, icon-factory);	
}

.icon-program {
	@include sprite($icon, icon-program);	
}

.icon-earth {
	@include sprite($icon, icon-earth);	
}

.icon-shield {
	@include sprite($icon, icon-shield);
}

.icon-report {
	@include sprite($icon, icon-report);
}

.icon-mail-white {
	@include sprite($icon, icon-mail-white);
}

.icon-bag {
	@include sprite($icon, icon-bag);
}

.icon-friends {
	@include sprite($icon, icon-friends);	
}

.icon-headphones {
	@include sprite($icon, icon-headphones);	
}

.icon-graduation {
	@include sprite($icon, icon-graduation);	
}

.icon-pencil {
	@include sprite($icon, icon-pencil);	
}

.icon-time {
	@include sprite($icon, icon-time);		
}

.icon-tag {
	@include sprite($icon, icon-tag);		
}

.icon-grey-kalendar {
	@include sprite($icon, icon-grey-kalendar);	
}

.icon-layers {
	@include sprite($icon, icon-layers);		
}

.icon-note-pencil {
	@include sprite($icon, icon-note-pencil);	
}

.icon-login {
	@include sprite($icon, icon-login);
}

.icon-open-book {
	@include sprite($icon, icon-open-book);
}

.icon-list-blue {
	@include sprite($icon, icon-list-blue);
}

.icon-user-blue {
	@include sprite($icon, icon-user-blue);
}

.icon-flag-blue {
	@include sprite($icon, icon-flag-blue);
}

.icon-study {
	@include sprite($icon, icon-study);
}

.icon-improve {
	@include sprite($icon, icon-improve);	
}



.icon-fltr1 {
	@include sprite($icon, icon-fltr1);	
}

.fltr1.picked i{
	@include sprite($icon, icon-fltr1-blue);	
}

.icon-fltr1-white {
	@include sprite($icon, icon-fltr1-white);	
}



.icon-fltr2 {
	@include sprite($icon, icon-fltr2);	
}

.fltr2.picked i{
	@include sprite($icon, icon-fltr2-blue);	
}

.icon-fltr2-white {
	@include sprite($icon, icon-fltr2-white);	
}


.icon-fltr3 {
	@include sprite($icon, icon-fltr3);	
}

.fltr3.picked i{
	@include sprite($icon, icon-fltr3-blue);	
}

.icon-fltr3-white {
	@include sprite($icon, icon-fltr3-white);	
}


.icon-fltr4 {
	@include sprite($icon, icon-fltr4);	
}

.fltr4.picked i{
	@include sprite($icon, icon-fltr4-blue);	
}

.icon-fltr4-white {
	@include sprite($icon, icon-fltr4-white);	
}


.icon-fltr5 {
	@include sprite($icon, icon-fltr5);	
}

.fltr5.picked i{
	@include sprite($icon, icon-fltr5-blue);	
}

.icon-fltr5-white {
	@include sprite($icon, icon-fltr5-white);	
}


.icon-fltr6 {
	@include sprite($icon, icon-fltr6);	
}

.fltr6.picked i{
	@include sprite($icon, icon-fltr6-blue);	
}

.icon-fltr6-white {
	@include sprite($icon, icon-fltr6-white);	
}


.icon-fltr7 {
	@include sprite($icon, icon-fltr7);	
}

.fltr7.picked i{
	@include sprite($icon, icon-fltr7-blue);	
}

.icon-fltr7-white {
	@include sprite($icon, icon-fltr7-white);	
}

.icon-right-white {
	@include sprite($icon, icon-right-white);
}

.icon-case {
	@include sprite($icon, icon-case);
}

.icon-dark-book {
	@include sprite($icon, icon-dark-book);
}

.icon-plant {
	@include sprite($icon, icon-plant);
}

.icon-molot{
	@include sprite($icon, icon-molot);
}


.icon-busket-dark {
	@include sprite($icon, icon-busket-dark);
}

.icon-pie-grey {
	@include sprite($icon, icon-pie-grey);
}

.icon-calc-white {
	@include sprite($icon, icon-calc-white);
}

.icon-video-white {
	@include sprite($icon, icon-video-white);
}

.icon-doc-white {
	@include sprite($icon, icon-doc-white);
}

.icon-prezy-white {
	@include sprite($icon, icon-prezy-white);
}

.icon-eye-white {
	@include sprite($icon, icon-eye-white);
}

.icon-discuss-white {
	@include sprite($icon, icon-discuss-white);
}

.icon-monitor-white {
	@include sprite($icon, icon-monitor-white);	
}

.icon-solution-white {
	@include sprite($icon, icon-solution-white);	
}

.icon-download-white {
	@include sprite($icon, icon-download-white);
}

.icon-phone-in {
	@include sprite($icon, icon-phone-in);
}

.icon-key-grey {
	@include sprite($icon, icon-key-grey);
}

.icon-headphones-grey {
	@include sprite($icon, icon-headphones-grey);
}

.icon-callout-grey {
	@include sprite($icon, icon-callout-grey);
}

.icon-liyka-grey {
	@include sprite($icon, icon-liyka-grey);
}

.icon-dollar-grey {
	@include sprite($icon, icon-dollar-grey);
}

.icon-envelop-grey {
	@include sprite($icon, icon-envelop-grey);
}

.icon-manager-grey {
	@include sprite($icon, icon-manager-grey);
}

.icon-user-grey {
	@include sprite($icon, icon-user-grey);
}

.icon-followplus-grey {
	@include sprite($icon, icon-followplus-grey);
}

.icon-comm-grey {
	@include sprite($icon, icon-comm-grey);
}

.icon-phoneplus-grey {
	@include sprite($icon, icon-phoneplus-grey);
}